@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";

.upload_popup3 .swal2-confirm,
.upload_popup3 .swal2-cancel {
  padding: 50px 70px;
  font-size: 20px;
}

body {
  font-family: "Roboto";
  overflow: hidden;
}

.uppy-Dashboard-AddFiles-list span {
  display: flex;
}

.uppy-Dashboard-AddFiles {
  border: 3px #dfdfdf;
}

.contenaire3page {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.html::-webkit-scrollbar {
  display: none;
}

.page {
  scroll-snap-align: start;
  min-height: 100vh;
}
.scrl {
  position: fixed;
  top: 30px;
  left: 40px;
  width: 50px;
  height: 50px;
}

.scrl2 {
  position: fixed;
  bottom: 200px;
  right: 40px;
  width: 50px;
  height: 50px;
}

.position-absolute {
  position: absolute !important;
}

#username {
  position: fixed;
  bottom: 40px;
  right: 60px;
}

.swal2-input {
  text-align: center;
}
