@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body{
    font-family : 'Roboto';
        overflow: hidden; /* Hide scrollbars */
      
}
.uppy-Dashboard-AddFiles-list span{
    display: flex;
}

.uppy-Dashboard-AddFiles{
    border: 3px  #dfdfdf;
}

.ryad{
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.html::-webkit-scrollbar {
    display: none;
}

.woof{
    scroll-snap-align: start;
    min-height: 100vh;
}

#scrl1{
    position: fixed;
            top: 40vh;
            left: 20px;
            width: 50px;
            height: 50px;
}
#scrl2{
    position: fixed;
            top: 45vh;
            left: 20px;
            width: 50px;
            height: 50px;
}
#scrl3{
    position: fixed;
            top: 50vh;
            left: 20px;
            width: 50px;
            height: 50px;
}

#custom-target-1{
    position: relative;
    width: 60vh;
    height: 300px;
    border-style: solid;

}

.position-absolute {
    position: absolute !important;
  }


  .clothes_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styling properties */
  }
  